<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - scorepile.org</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <style>
      body {padding-top: 60px;}
    </style>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/semistatic/log.css">
    <link rel="stylesheet" href="/static/scorepile.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">
            <img src="/static/icons/crown.png"></img>
            scorepile.org
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="http://github.com/rspeer/scorepile">Contribute</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="container" id="content">
      <h1>{% block heading %}{% endblock %}</h1>
      {% block content %}
      {% endblock %}
    </div>

    <script src="/static/bootstrap/js/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
  </body>
</html>
