{% extends "base.html" %}
{% block title %}{{title | default('Game list')}}{% endblock title %}
{% block heading %}{{title | default('Game list')}}{% endblock heading %}

{% block content %}
    <div class="gamelist">
    {% for game in games %}
        <div class="game row cardset-{{ game.cardset }}">
            <div class="span12">
                {% set cond = game.data['win_condition'] %}
                <div class="gameheading">
                    <a href="{{ game.url }}"><img
                       src="/static/icons/{{ game.icon_name() }}.png"
                       title="{{ cond }}"
                       class="win-icon"></a>
                    {{ game.html()|safe }}
                    <div class="timestamp">
                        {{ game.friendly_timestamp() }}
                    </div>
                </div>
                <div class="playerdetails row">
                {% for gameplayer in game.ordered_players() %}
                    <div class="playerdetail span4
                    {%- if curplayer and curplayer == gameplayer['iso_id'] -%}
                      {%- if gameplayer['winner'] %} winner {% else %} loser {%
                      endif -%}
                    {%- endif %}">
                        {{ game.gameplayer_html(gameplayer)|safe }}:
                        {% for achievement in gameplayer['data']['achievements'] %}
                            <span class="age0">{{ achievement }}</span>
                        {% endfor %}
                        {% if cond == 'score' %}
                            <span class="score age0">{{ gameplayer['data']['score'] }}&nbsp;pts.</span>
                        {% elif cond != 'achievements' and cond != 'attrition' %}
                            {% if gameplayer['winner'] %}
                                <span class="dogmawin age0">{{ cond }}</span>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}
