body {
    overflow-x: hidden;
    overflow-y: scroll;
}

#content {
    margin-top: 50px;
}

.gamelist .game {
    margin-top: 1em;
    position: relative;
    left: 30px;
}

.h1 {
    position: relative;
}

a.gamelink {
    text-decoration: none;
    color: default;
}

.cardset-base {
    background-color: #ccc;
}

.cardset-echoes {
    background-color: #bcd;
}

.cardset-echoes .cardset-name {
    background-color: #6889ec; color: white; padding: 0px 0.4ex;
    margin-left: 1em;
	border-left: 1px solid #95acf1; border-top: 1px solid #95acf1;
	border-right: 1px solid #3e528d; border-bottom: 1px solid #3e528d;
}

.playerdetails {
    background-color: #eee;
}

.playerdetail {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.playerdetail .player {
    margin-left: 0.5em;
}

.winner {
    background-color: #dfd;
}

.loser {
    background-color: #fdd;
}

.gameheading {
    position: relative;
    left: -30px;
}

.gameid {
    margin-left: 5px;
}

.player {
    font-weight: bold;
}

.unreg {
    color: #888;
}

.gameid {
    font-weight: bold;
}

.timestamp {
    float: right;
}

.dogmawin {
    background-color: #357;
    border-color: #357;
}

.score {
    background-color: #8a8;
    border-color: #8a8;
}


